:root{
    --primary: #ffcc11;
    --secondary: #0097a7;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 24px;
    text-align: center;
}
h2, h3{
    text-align: center;
    color:rgb(64, 64, 134)
}
h3{
    color: var(--secondary);
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}
p{
    line-height: 2;
}
/* header information*/
@media(min-width:768px){
    .header-in h1{
        font-size:60px;
    }    
}
.header-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Img/Hero.jpg);
    height: 35vh;
    background-size: cover;
    background-position: center center;
}
.header-in p{
    font-size: 22px;
}
.header-in p i{
    color: red;
}
/* Header button information */
.btn {
    color:var(--primary);
    background-color: rgb(18, 138, 194);
    font-weight:700;
    border-radius: 5px;
    text-emphasis: none;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
}

.menu {
    background-color: white;
}
@media(min-width:768px){
    .menu{
    display: flex;
    justify-content: space-between;
}
}
.menu a{
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
/* service*/
.container{
    width: 90%;
    margin-right:auto;
    margin-left:auto;
}
@media(min-width:768px){
    .service-container{
        display: flex;
        justify-content: space-between;
    }
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 10px;
}
.service i{
    display: flex;
    font-size: 40px;
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.myimage {
    color: red;
    size: 40px;
}
/* form style */
@media(min-width:768px){
    .form-msg form{
        margin-left:5px;
    }
}
.form-msg{ 
    background-color: var(--secondary);
    color: white;
    font-size:18px;
    padding:10px;
    margin-bottom:50px;
    margin-top:50px;
    border-radius:10px;
}
.form-msg p{
    display:flex;
    padding:5px;
}
input{
    font-size: 16px;
    width: 80%;
}
textarea{
    width:80%;
    height:80px;
}
label{
    width: 150px;
    font-size:16px;
}
.btn-form{
    background-color:rgb(204, 177, 177);
    font-size:20px;
    border:none;
    color:black;
    font-weight:bold;
}
button-form:hover{
    background-color: var(--primary);
    font-size: 25px;
}
.container{
    width:90%;
    margin-right:auto;
    margin-left:auto;
}
ol{
    margin-left:50px;
}
.myh{
    background-color: aqua;
    width: 10%;
}
.mydiv{
    background-color: aqua;
    text-align:left;
    margin-left:20px;}
p{
    font-weight: 400;
}
img{
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center center;
}
address{
    font-weight: 700;
}

